@font-face {
    font-family: lato;
    src: url('Lato-Hairline.woff');
}
* {
    font-family: lato;
    font-weight: 600;
}
.app-title {
    color: #5264AE;
}
.form {
    width: 300px;
}
button {
    display: inline-block;
    border: 1px solid black;
    background: transparent;
    margin: 4ex auto;
    padding: 1.5ex 2em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button-holder {
    text-align: center;
}
.custom-checkbox {
    display: none
}
.custom-checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    margin: 5ex auto 0;
}
.custom-checkbox-label:before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
    border: 1px solid black;
}
.custom-checkbox + .custom-checkbox-label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 20px;
    height: 20px;
    display: block;
    z-index: 1;
    background: url(tick.svg) no-repeat center center;
    background-size: contain;
    -ms-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}
.custom-checkbox:checked + .custom-checkbox-label:after {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.custom-checkbox-label-text {
    vertical-align: middle;
    margin-left: 1em;
}
.text-input {
    position: relative;
    margin-top: 4ex;
}
.form-field {
    font-size: 1.2em;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    box-sizing: border-box;
}
.form-field:focus {
    outline: none;
}
.input-label {
    color: #999;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.form-field:focus ~ .input-label,
.form-field:valid ~ .input-label {
    top: -20px;
    font-size: 1em;
    color: #5264AE;
}
.input-bar {
    position: relative;
    display: block;
    width: 100%;
}
.input-bar:before,
.input-bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.input-bar:before {
    left: 50%;
}
.input-bar:after {
    right: 50%;
}
.form-field:focus + .input-bar:before,
.form-field:focus + .input-bar:after {
    width: 50%;
}
.forgot {
    line-height: 4ex;
}
#login-error {
    display: none;
}
#login-error:target {
    display: block;
    color: tomato;
    margin-bottom: 2ex;
}